# Exercícios Módulo 5. Bases de dados com SQLite (Soluções)

Considerações a ter em conta:

* Guardar este documento com o seguinte formato para entrega: M5_04_nome_apelido1_apelido2
* Fazer os exercícios com as ferramentas vistas nas sessões. 
* Comentar o código
* Utilizar nomes de variáveis apropriados, se vai guardar uma nota, chamar a essa variável nota, não n ou x

**1) Praticar um pouco com SQLite:**

* Criar uma base de dados que se chame biblioteca
* Criar as seguintes tabelas (deverá colocar os tipos dos atributos com lógica, investigar quais há em SQLite para o poder fazer): 
 * autor(bi, nome, apelidos, estarVivo)
     * em bi pode colocar um número aleatório
 * livro(isbn, título, editorial, ano_escrito)  
     * isnb = International Standard Book Number - Pode colocar um número aleatório
 * utilizador(bi, nome, apelidos, numEmpréstimos)
     * em bi pode colocar um número aleatório
* Inserir pelo menos 3 registos em cada uma das tabelas 
 * Em autor, alguns vivos e outros mortos
 * Em livro, alguns com ano de escritura anterior a 1900 e outros depois 
 * Em utilizador, alguns com mais de 10 empréstimos e outros com menos
* Comprovar que tudo está correto com **DB Browser (SQLite)** 
* Fazer as seguintes consultas:
 * Listar a todos os autores 
 * Listar todos os livros 
 * Listar todos os utilizadores
 * Listar todos os autores que estejam vivos (CLAUSULA WHERE)
 * Listar todos os livros que tenham sido escritos posteriormente a 1900
 * Listar todos os utilizadores que se tenham levado mais de 10 livros e filtrar pelo nome

In [6]:
#  Completar o exercício aqui
import sqlite3
con = sqlite3.connect('basededados.db')

cursor = con.cursor()
cursor.execute("Create Table autor(bi,nome,apelidos,estarVivo)")
cursor.execute("Create Table livro(isnb,titulo,editorial,ano_escrito)")
cursor.execute("Create Table utilizador(bi,nome,apelidos,numEmprestimos)")

def inserir_autor():
    cursor.execute("INSERT INTO autor VALUES (8957,'John Ronald','Reuel Tolkien','nao')")
    cursor.execute("INSERT INTO autor VALUES (944,'Sun','Tzu','nao')")
    cursor.execute("INSERT INTO autor VALUES (2398457,'Joanne','Rowling','sim')") 
def inserir_livros():
    cursor.execute("INSERT INTO livro VALUES (4562622341234,'El ingenioso hidalgo Don Quixote de la Mancha','Francisco de Robles',1605)")
    cursor.execute("INSERT INTO livro VALUES (9789726183969 ,'A Arte da Guerra ','Sun Tzu',1772)")
    cursor.execute("INSERT INTO livro VALUES (9780261103252,'The Lord of the Rings','HarperCollins Publishers',1954)")
def inserir_utilizadores():
    cursor.execute("INSERT INTO utilizador VALUES (23414123,'Luke','Skywalker',00001)")
    cursor.execute("INSERT INTO utilizador VALUES (98546758,'The','One',00165)")
    cursor.execute("INSERT INTO utilizador VALUES (10989079,'Albu','Querque',00030)")

inserir_autor()
inserir_livros()
inserir_utilizadores()

cursor.execute("SELECT * FROM utilizador")
usuarios = cursor.fetchall()
for user in usuarios:
    print("Usuarios:",user)
print("\n")

cursor.execute("SELECT * FROM livro")
livros = cursor.fetchall()
for livro in livros:
    print("Livros:",livro)
print("\n")

cursor.execute("SELECT * FROM autor")
autores = cursor.fetchall()
for autor in autores:
    print("Autores:",autor)
print("\n")

def vivos_Autores():
    cursor.execute("SELECT * FROM autor WHERE estarVivo ='sim'")
    autorVivo = cursor.fetchall()
    for i in autorVivo:
        print ("Autores Vivos: ",i)

def livros_pos1900():
    cursor.execute("SELECT * FROM livro WHERE ano_escrito > 1900")
    livros_antigos = cursor.fetchall()
    for i in livros_antigos:
        print("Livros pos 1900: ",i)

livros_emprestados = []
def leitores_empr():
    cursor.execute("SELECT * FROM utilizador WHERE numEmprestimos > 10")
    leitor_wh_livro = cursor.fetchall()
    leitor_wh_livro.sort()
    for pessoa in leitor_wh_livro:
        livros_emprestados.append(pessoa[1:3])
        #print("Livros emrpestados:",livros_emprestados)

vivos_Autores()
livros_pos1900()
leitores_empr()
print('\n')
for livro in livros_emprestados:
    print(f"Utilizador com >10 livros: {livro[0]} {livro[1]}")

con.commit()
con.close()

Usuarios: (23414123, 'Luke', 'Skywalker', 1)
Usuarios: (98546758, 'The', 'One', 165)
Usuarios: (10989079, 'Albu', 'Querque', 30)


Livros: (4562622341234, 'El ingenioso hidalgo Don Quixote de la Mancha', 'Francisco de Robles', 1605)
Livros: (9789726183969, 'A Arte da Guerra ', 'Sun Tzu', 1772)
Livros: (9780261103252, 'The Lord of the Rings', 'HarperCollins Publishers', 1954)


Autores: (8957, 'John Ronald', 'Reuel Tolkien', 'nao')
Autores: (944, 'Sun', 'Tzu', 'nao')
Autores: (2398457, 'Joanne', 'Rowling', 'sim')


Autores Vivos:  (2398457, 'Joanne', 'Rowling', 'sim')
Livros pos 1900:  (9780261103252, 'The Lord of the Rings', 'HarperCollins Publishers', 1954)


Utilizador com >10 livros: Albu Querque
Utilizador com >10 livros: The One